$main-background-color: rgba(128,212,255, 0.5);

.line {
    height: 2em;
    min-height: 2em;
    width: 100%;

    // display option icons on hovering on top of an line
    &:hover .optionIcon {
        display: inline-block;
    }
}

.fixedHalfHeight {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0.7em;
    transition: flex-basis 0.2s ease-in-out;
    &:hover {
        flex-basis: 1.3em;
    }
}

.fixedHeight {
    flex: 0 0 2em;
    //width: 100%;

    // display option icons on hovering on top of an line
    &:hover .optionIcon {
        display: inline-block;
    }
}

.fixedDoubleHeight {
    flex: 0 0 4em;
    //width: 100%;

    // display option icons on hovering on top of an line
    &:hover .optionIcon {
        display: inline-block;
    }
}

.inputButtonIcon {
    width: 3em;
    float: left;
}

.symbol {
    margin: 6.5px 0;

    .input-group {
        margin-top: -6px;
    }
}

.margin-small {
    margin-left: 0.2em;
}

.symbolHeight {
    flex: auto;
}

.columnInput {
    flex: 48%;
}

@media screen and (min-width: 800px) {
    .columnInput {
        flex: 32%;
    }
}

.insertButton {
    border: 0.15em solid rgb(38, 64, 64);
    text-align: center;
    margin: 0.2em;
    border-radius: 0.2em;
    display: flex;
    justify-content: center;

    .buttonLogo {
        float: left;
        height: 1.3em;
        min-width: 2em;
        margin: auto;
        flex: 1;
    }

    span {
        flex: 4;
        margin: auto;
    }
}

.padding {
    padding-left: 1em;
    padding-right: 1em;
}

.editField {
    width: 80%;

    input {
        flex: 10;
        min-width: 0;
    }

    div {
        flex: 1;
        margin-left: 1em;
        height: inherit;
        border: 0.15em solid black;
    }
}

.columnText {
    flex: auto;
}

.optionContainer {
    position: absolute;
    top: 0;
    right: 1em;
    height: 100%;
    display: inline-flex;
    flex-wrap: nowrap;

    .optionIcon {
        width: 1em;
        height: 100%;
        margin-left: 0.4em;
        flex: 1;
        display: none;

        @media screen and (min-width: 480px) {
            display: inline-block;
        }

        @media screen and (min-width: 800px) {
            display: none;
        }
    }
}

.columnFull {
    flex-basis: 100%;

}

.columnAuto {
    flex: 1;
}

.bottomHeader {
    align-self: flex-end;
}

.loopShift {
    justify-content: flex-end !important;

    .loopWidth {
        flex-basis: calc(100% - 2em);
    }
}
