.highlight {
    background-color: rgba(145, 138, 229, 0.4);
}

.form-select {
    outline: 0;
    box-shadow: none;
    background: white;
    position: relative;
    width: 90%;
    overflow: hidden;
    border-radius: .2em;
    border: 0.1em solid rgb(38, 64, 64);
    padding: 0 .5em;
    color: rgb(38, 64, 64);
    cursor: pointer;

    option {
        color: rgb(38, 64, 64);
        cursor: pointer;
    }
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

.code {
    color: rgb(38, 64, 64);
    position: relative;
    padding-left: 0.3em;
    display: flex;

    &::before {
        color: rgb(38, 64, 64);
        content: attr(data-lang);
        font-size: 100%;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }

    code {
        //background: rgb(238, 238, 238);
        border-radius: 0.2em;
        border: 0.1em solid rgb(38, 64, 64);
        color: inherit;
        line-height: 1.5;
        overflow-x: auto;
        flex: 1;
        padding: 1rem;

        .keyword {
            color: rgb(127, 0, 85);
        }

        span {
            font-weight: bold;
        }
    }
}
