.modal {
    align-items: center;
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0.5em;
    position: fixed;
    right: 0;
    top: 0;

    &:target,
    &.active {
        display: flex;
        opacity: 1;
        z-index: 2;

        .modal-overlay {
            background: rgba(0,0,0,0.4);
            bottom: 0;
            cursor: default;
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        .modal-container {
            animation: slide-down .2s ease 1;
            z-index: 1;
        }
    }

    &.modal-sm {
        .modal-container {
            max-width: 10em;
            padding: 0 1em;
        }
    }
}

.modal-container {
    background: rgb(250, 250, 250);
    border-radius: 0.1em;
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    max-width: 25em;
    padding: 0 1em;
    width: 100%;

    &.modal-fullheight {
        max-height: 100vh;
    }

    .modal-header {
        padding: 0.3em 0.3em;
        .close {
            height: 1.5em;
            width: 1.5em;
            float: right;
        }
    }

    .modal-body {
        overflow-y: auto;
        padding: 0 1em;
        position: relative;
    }

    .modal-footer {
        padding: 1em;

        .modal-buttons {
            flex: auto;
            min-height: 2.5em;
            margin: 0 2em;
        }
    }
}
