.acceptIcon {
  background: url("../svg/acceptIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.addCaseIcon {
  background: url("../svg/addCaseIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.branchCenter {
  background: url("../svg/branchCenter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.branchIcon {
  background: url("../svg/branchIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.branchSplit {
  background: url("../svg/branchSplit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.cancelIcon {
  background: url("../svg/cancelIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.caseIcon {
  background: url("../svg/caseIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.codeIcon {
  background: url("../svg/codeIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.countLoopIcon {
  background: url("../svg/countLoopIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.deleteIcon {
  background: url("../svg/deleteIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.exportIcon {
  background: url("../svg/exportIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footLoopIcon {
  background: url("../svg/footLoopIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.frameBottom {
  background: url("../svg/frameBottom.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.frameLeft {
  background: url("../svg/frameLeft.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.frameLeftBottom {
  background: url("../svg/frameLeftBottom.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.frameLeftRight {
  background: url("../svg/frameLeftRight.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.frameTop {
  background: url("../svg/frameTop.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.frameTopLeft {
  background: url("../svg/frameTopLeft.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.frameTopLeftBottom {
  background: url("../svg/frameTopLeftBottom.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.insertIcon {
  background: url("../svg/insertIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  background: url("../svg/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.moveIcon {
  background: url("../svg/moveIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.placeholder {
  background: url("../svg/placeholder.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.resetIcon {
  background: url("../svg/resetIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.saveIcon {
  background: url("../svg/saveIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.switchDefaultCaseIcon {
  background: url("../svg/switchDefaultCaseIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.taskIcon {
  background: url("../svg/taskIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.trashcan {
  background: url("../svg/trashcan.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.uploadIcon {
  background: url("../svg/uploadIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
