.acceptIcon {
    background: url('../svg/acceptIcon.svg');
}

.addCaseIcon {
    background: url('../svg/addCaseIcon.svg');
}

.branchCenter {
    background: url('../svg/branchCenter.svg');
}

.branchIcon {
    background: url('../svg/branchIcon.svg');
}

.branchSplit {
    background: url('../svg/branchSplit.svg');
}

.caseIcon {
    background: url('../svg/caseIcon.svg');
}

.countLoopIcon {
    background: url('../svg/countLoopIcon.svg');
}

.deleteIcon {
    background: url('../svg/deleteIcon.svg');
}

.footLoopIcon {
    background: url('../svg/footLoopIcon.svg');
}

.frameBottom {
    background: url('../svg/frameBottom.svg');
}

.frameLeftBottom {
    background: url('../svg/frameLeftBottom.svg');
}

.frameLeftRight {
    background: url('../svg/frameLeftRight.svg');
}

.frameTop {
    background: url('../svg/frameTop.svg');
}

.insertIcon {
    background: url('../svg/insertIcon.svg');
}

.logo {
    background: url('../svg/logo.svg');
}

.moveIcon {
    background: url('../svg/moveIcon.svg');
}

.placeholder {
    background: url('../svg/placeholder.svg');
}

.switchDefaultCaseIcon {
    background: url('../svg/switchDefaultCaseIcon.svg');
}

.taskIcon {
    background: url('../svg/taskIcon.svg');
}
